<div
  class="img d-flex justify-content-center align-items-center text-center shadow-1-strong rounded text-white"
  style="background-image: url('<%= image_path "movie.jpg" %>'); background-size: cover; height: 300px; background-position: center;"
>
  <h5 style="text-shadow: 2px 2px #000000;">Save any kind of movies</h5>
</div>

<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h6 class="m-0">My Lists</h6>
    <%= link_to 'New List', new_list_path, class: 'btn btn-primary' %>
  </div>

  <div class="row justify-content-between align-items-center">
    <% @lists.each do |list| %>
      <div class="col-6 col-lg-4 col-xl-3 col-xxl-2 p-2">
        <% if list.photo.attached?  %>
          <%= link_to list_path(list), class: 'text-decoration-none' do %>
            <div
              class="img d-flex justify-content-center align-items-center text-center shadow-1-strong rounded text-white"
              style="background-image: url('<%= cl_image_path list.photo.key %>'); background-size: cover; background-position: center; height: 240px;"
            >
              <h5 style="text-shadow: 2px 2px #000000;"><%= list.name %></h5>
            </div>
          <% end %>


        <% else %>
          <%= link_to list_path(list), class: 'text-decoration-none' do %>
            <div
              class="img d-flex justify-content-center align-items-center text-center shadow-1-strong rounded text-white"
              style="background-image: url('<%= image_path 'movie.jpg' %>'); background-size: cover; background-position: center; height: 240px;"
            >
              <h5 style="text-shadow: 2px 2px #000000;"><%= list.name %></h5>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
