<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between border-bottom px-3">
      <h3 class="m-0"><i class="fa-solid fa-film"></i></h3>
      <div>
        <%= link_to 'My lists', lists_path, class: 'navbar-brand fs-6' %>
        <%= link_to 'New list', new_list_path, class: 'navbar-brand fs-6' %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
